:root {
  --primary: #1d8120;
  --primary-light: #289c2c;
  --primary-dark: #08552e;
  --primary-tint: #e0ffe0;

  --secondary: #337799;
  --secondary-light: #88c1dd;
  --link: #0000EE;

  --gray-0: white;
  --gray-20: #ccc;
  --gray-50: gray;
  --gray-card: whitesmoke;
  --gray-100: black;

  --gradient: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0, 0));
  --background: white;
}

[data-theme="dark"] {
  --primary: #0e4e10;
  --primary-light: #317733;
  --primary-dark: #023b1f;
  --primary-tint: #738773;

  --secondary: #164055;
  --secondary-light: #4c7990;
  --link: #9494f5;

  --gray-0: black;
  --gray-20: gray;
  --gray-50: #ccc;
  --gray-card: #5e5e5e;
  --gray-100: white;

  --gradient: linear-gradient(to bottom,rgba(0,0,0,0.5), rgba(0,0,0, 0.5));
  --background: #042a04;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 20px;
  background-color: var(--background);

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 10px 0;
}

a {
  font-weight: inherit;
  color: inherit;
}

.link {
  background-color: var(--primary);
  color: var(--gray-100);
  padding: 10px 11px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.5s;
}

.link:hover {
  background-color: var(--primary-light);
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

hr {
  height:2px;
  border-width:0;
  color: var(--gray-50);
  background-color: var(--gray-50);
}

.grid-half {
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 20px;
  row-gap: 10px;
}

.grid-third {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 10px;
  row-gap: 10px;
  height: 100%;
}

.grid-third .area {
  border: 3px solid var(--primary);
  height: 100%;
  padding: 10px;
}

.grid-events {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 110%;
  row-gap: 30px;
  column-gap: 10px;
}

.card {
  width: 100%;
  height: 100%;
  background-color: var(--gray-card);
  position: relative;
  padding-bottom: 20px;
}

.card h3 {
  color: var(--gray-0);
}

.header {
  letter-spacing: 4px;
  font-weight: 500;
}

.blog {
  padding: 20px !important;
  text-align: left;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  color: white;
  background-color: var(--primary);
  height: 65px;
  overflow: hidden;
  z-index: 1000;
}

.navbar .navbar-item {
  float: left;
  background-color: transparent;
  color: inherit;
  width: auto;
  border: none;
  outline: none;
  display: block;
  white-space: normal;
  display: inline-block;
  outline: 0;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none !important;
  color: white;
  text-align: center;
  cursor: pointer;
}
.navbar-item:hover {
  color: var(--gray-100) !important;
  background-color: var(--gray-20) !important;
}
.navbar-block .navbar-item {
  width: 100%;
  display: block;
  height: 100%;
  text-align: left;
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
  white-space: normal;
  float: none;
}

section {
  padding: 0.01em 16px;
  max-width: 70%;
  margin: auto;
  text-align: center;
  color: var(--gray-100);
}
.home{
  padding: 20px;
}
.homeButton {
  padding: 6px;
}
.shadow {
  color: white;
  background-color: var(--primary-dark);
  box-shadow: 2px 2px 60px var(--primary-light);
}

.backgroundShadow {
  background: var(--gradient), url('images/back.jpg');
}

.button {
  background-color: var(--primary-light);
  width: 100%;
  border: none;
  color: white;
  text-decoration: none;
  padding: 5px;
  position: absolute;
  bottom: 5px;
  left: 0;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary);
  text-decoration: underline;
}

.slideshow-container {
  position: relative;
  background: var(--gray-20);
}

.mySlides {
  display: none;
  padding: 10px 50px;
  padding-bottom: 20px;
  text-align: center;
  color: var(--gray-100);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: var(--gray-20);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: var(--gray-20);
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--primary);
}

footer {
  padding: 16px;
  text-align: center;
  color: white;
  background-color: var(--primary);
  font-size: 24px;
}

footer p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  padding-bottom: 3px;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  float: right;
  margin-right: 5px;
}
.theme-switch-wrapper div {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--secondary-light);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}